.square {
  width: 150px;
  height: 150px;
}

.modalButton, button {
    background-color: rgb(64, 140, 236);
		border: 0;
		padding: 12px 20px;
		color: white;
    margin-top: 5px;
    margin-left: 10px;
		margin-right: 20px;
    margin-bottom: 20px;
		font-size: 15px;
		border-radius: 5px;
    cursor: pointer;
}

h1 {
  display: block;
  height: 45px;
  text-align: center;
  color: red;
  font-size: 30px;
  font-family: 'Lobster', cursive;
}

.board {
  width: 450px;
  height: 450px;
  margin: 0 auto;
  display: block;
}
